@use '../../styles/variables'
  
.header
  .profile
    box-shadow: 8px 8px 5px silver
    padding: 1em 1em
    img
      width: 200px
      border-radius: 25px
    h2
      font-style: oblique
      font-size: 30px
      color: variables.$background-color
      margin: .5em
    h3
      font-style: oblique
      font-size: 20px
      margin: .5em
  .stack
    display: flex

@media screen and (max-width: 412px)
  .stack
    flex-direction: column
      
  
      